*
{   box-sizing: border-box;
}

:root
{   --bg-color: blue;
    --border-color: black;
    --btn-color: blue;
    --btn-bg-color: blue;
    --btn-border-color: blue;
    --text-color: white;
    --head-bg-color: green;
    --head-border-color: #004400;
}

body
{   /* background: purple; */
    background: url("../themes/starwars/background.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

/* style specific to header and button bar
*/
/* 
.top-push
{   height: 5px;
    width: 100%;
}
*/

header
{   background: var(--head-bg-color);
    border-color: var(--head-border-color);
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 5px auto;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    width: 90%;
}

.button-bar
{   /* background: purple; */
    height: 24px;
    margin: 5px auto;
    /* margin-bottom: 20px; */
    overflow: auto;
    width: 90%;
}

button
{   background: var(--btn-bg-color);
    border-color: var(--btn-border-color);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    float: left;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    /* width: 100%; */
}

#fight-button
{   /* background: var(--btn-bg-color); */
    /* border-color: var(--btn-border-color); */
    border-radius: 20px;
    /* border-style: solid; */
    /* border-width: 1px; */
    font-size: 20px;
    font-weight: bold;
    /* float: left; */
    /* margin-right: 5px; */
    padding: 10px 20px 10px 20px;
    /* width: 100%; */
}

button:hover
{   background: white;
    border-color: white;
}

.button-spacer
{   float: left;
    width: 25px;
}

/* end style specific to header and button bar
*/

/* begin style specific to the game
*/

main
{   background: rgba(255, 0, 255, 0.5);
    /* border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px; */
    clear: both;
    height: auto;
    margin: 0px auto;
    width: 90%;
}

.choice-box, .fight-box
{   clear: both;
    display: flex;
    justify-content: center;
    align-items: center
}

/* .choice */
.icon-box
{   border: 1px solid black;
    border-radius: 2px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
    text-align: center;
    width: 152px;
}

/* .choice img, .fight-box img */
.icon-box img, .fight-box img
{   border: 2px solid black;
    border-radius: 50%;
    float: left;
    height: 150px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 150px;
}

.fight-box img
{   margin-left: 20px;
    margin-right: 20px;
}

#prompt-box, .text-box
{   background-color: rgba(255, 255, 0, 0.5);
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.stat-box, .text-box
{   border: 1px solid red;
    height: 24px;
    margin: 0px auto;
    position: relative;
    width: 75%;
}

.text-box
{   margin-bottom: 5px;
}

.health-text
{   float: left;
    width: 25%;
}

.health-box
{   border: 1px solid black;
    border-radius: 2px;
    float: left;
    height: auto;
    padding: 2px;
    position: relative;
    width: 75%;
}

#player-health, #opponent-health
{   background-color: black;
    height: 15px;
    width: 100%;
}

.fight-bar
{   background: purple;
    clear: both;
    display: flex;
    /* height: auto; */
    justify-content: center;
    margin: 20px auto;
    /* margin-bottom: 20px; */
    overflow: auto;
    width: 90%;
}

.info-screen
{   background: white;
    border: 2px solid yellow;
    border-radius: 10px;
    color: black;
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    height: auto;
    left: 5%;
    margin: 0px auto;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 20%;
    width: 90%;
}

.info-screen h4
{   font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.info-screen p
{   margin-bottom: 5px;
    margin-top: 5px;
}

.info-screen img
{   border: 2px solid black;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

/* end style specific to the game
*/

/* begin style specific to sticky footer
*/

body, html
{   height: 100%;
}

.wrapper
{   height: auto;
    margin: 0px;
    margin-bottom: -42px;
    min-height: 100%;
    padding: 5px;
}

.push
{   /* background: yellow; */
    height: 42px;
    width: 100%;
}

footer
{   background: var(--head-bg-color);
    border-color: var(--head-border-color);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    clear: both;
    font-size: 10px;
    height: auto;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    width: 90%
}

/* end style specific to sticky footer
*/

@media screen and (max-width: 992px)
{   main
    {   background-color: rgba(255, 0, 0, 0.5);
    }
}

@media screen and (max-width: 768px)
{   main
    {   background-color: rgba(0, 255, 0, 0.5);
    }
}

@media screen and (max-width: 576px)
{   main
    {   background-color: rgba(0, 0, 255, 0.5);
    }
}
