*
{   box-sizing: border-box;
}

body
{   background: url("../themes/starwars/background.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

/* style specific to header and button bar
*/

header
{   font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 5px auto;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    width: 90%;
}

.button-bar
{   height: auto;
    margin: 5px auto;
    overflow: auto;
    width: 90%;
}

button
{   border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    float: left;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
}

#fight-button
{   border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

button:hover
{   background: white;
    border-color: white;
}

.button-spacer
{   float: left;
    height: 24px;
    width: 25px;
}

/* end style specific to header and button bar
*/

/* begin style specific to the game
*/

main
{   clear: both;
    height: auto;
    margin: 0px auto;
    width: 90%;
}

.chooser, .fight-box
{   clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box
{   border: 1px solid black;
    border-radius: 2px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
    text-align: center;
    width: 152px;
}

.icon-box img, .fight-box img
{   border: 2px solid black;
    border-radius: 50%;
    float: left;
    height: 150px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 150px;
}

#prompt-box, .text-box
{   font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.stat-box, .text-box
{   height: 24px;
    margin: 0px auto;
    position: relative;
    width: 75%;
}

.text-box
{   margin-bottom: 5px;
}

#player-health, #opponent-health
{   height: auto;
    width: 100%;
}

.fight-bar
{   clear: both;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    overflow: auto;
    width: 90%;
}

.info-screen
{   background: white;
    border: 2px solid yellow;
    border-radius: 10px;
    color: black;
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    height: auto;
    left: 5%;
    margin: 0px auto;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 20%;
    width: 90%;
}

.info-screen h4
{   font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.info-screen p
{   margin-bottom: 8px;
    margin-top: 8px;
}

.info-screen img
{   border: 2px solid black;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

/* end style specific to the game
*/

/* begin style specific to sticky footer
*/

body, html
{   height: 100%;
}

.wrapper
{   height: auto;
    margin: 0px;
    margin-bottom: -42px;
    min-height: 100%;
    padding: 5px;
}

.push
{   height: 42px;
    width: 100%;
}

footer
{   clear: both;
    font-size: 10px;
    height: auto;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    width: 90%
}

/* end style specific to sticky footer
*/

    @media screen and (max-width: 775px)
    {   .icon-box
        {   width: 127px;
        }
    
        .icon-box img, .fight-box img
        {   height: auto;
            width: 125px;
        }
    }

    @media screen and (max-width: 665px)
    {   .icon-box
        {   float: left;
            width: 102px;
        }
        
        .icon-box img, .fight-box img
        {   height: auto;
            width: 100px;
        }
    }
    
    @media screen and (max-width: 576px)
    {   .icon-box
        {   float: left;
            width: 77px;
        }
        
        .icon-box img, .fight-box img
        {   height: auto;
            width: 75px;
        }
    }
    
    @media screen and (max-width: 420px)
    {   .button-spacer
        {   width: 0px;
        }
    }
